{% extends "index.html" %}

{% block title %} Shop {% endblock title %}  
{% block content %}    

{% if ErrMsg %}
  <div class="alert alert-danger">
  <center>{{ErrMsg}}</center>
</div>
{% endif %}

<link rel="stylesheet" href="{{ url_for('static' , filename='login.css') }}">

<div class="container">


<form method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>
  <input type="submit" value="Login">
</form>
</div>


{% endblock %}